/node_modules
/oh_modules
/local.properties
/.idea
/.agents
/.claude
/.codegraph
/.reasonix
/tmp
/呱呱学英语.psd
/build-profile.json5
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
